.color1 { 
  color: #59788e;
  font-size:40px;
}
.button1:hover {
  background-color: #59788e;
  color: white;
  text-align: center;
  padding: 40px;
  cursor: pointer;
  width: 450px;
}
.button {
  background-color: #59788e;
  color: white;
  text-align: center;
  padding: 40px;
  cursor: pointer;
  width: 450px;
  height: 200px;
}
.bigtext {
  text-align: center;
  background-color: #59788e;
  font-size:29px;
}

td { 
border: 1px solid black;
   height: 60px;
   text-align: center;
  font-size: 45px;
  width: 450px;
}
