.color1 { 
  color: black;
  font-size:40px;
}
.button1:hover {
  opacity: 0.3;
}
.bigtext {
  text-align: center;
  background-color: #728c69;
  font-size:29px;
  width: 450px;
  height: 200px;
}
.button: hover { 
  border: colapse;
  height: 60px;
  text-align: center;
  font-size: 45px;
  width: 450px;
  font-family: georgia, serif;
  opacity: 1;
  color: #354a21;
}

body {
  background-color: #355e3b;
}
