.color1 { 
  color: #59788e;
  font-size:40px;
}
.button1:hover {
  background-color: #59788e;
  color: white;
  text-align: center;
  padding: 40px;
}
.bigtext {
  text-align: center;
  background-color: #59788e;
  font-size:29px;
}
